@using YourFavECommerce.Utilites
@using YourFavECommerce.ViewModels
@model OrderWithRelatedVM

@* <h1>@Context.Request.Cookies["success-notifications"]</h1> *@

@* @section Scripts {
    @if (@TempData["success-notifications"] is not null)
    {
        <script>
            toastr.success('@TempData["success-notifications"]')
        </script>
    }
} *@

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Orders</h2>
        </div>
    </div>

    <!-- Filter Section -->
    <section class="py-3 filter-bar">
        <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
            <div class="col-12">
                <form>
                    <div class="row">
                        <!-- Order Id -->
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Order Id" name="OrderId">
                        </div>

                        <!-- Status -->
                        @* <div class="col-md-2">
                            <select name="status" class="form-control">
                                <option value="true">Active</option>
                                <option value="false">IN Active</option>
                            </select>
                        </div> *@

                        <!-- Submit Button -->
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-dark w-100">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Status</th>
                        <th scope="col">Is Shipped</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.CreatedAt</td>

                            @if (item.OrderStatus == OrderStatus.Pending)
                            {
                                <td><span class="badge text-bg-warning text-dark">@item.OrderStatus</span></td>
                            }
                            else if (item.OrderStatus == OrderStatus.InProcessing)
                            {
                                <td><span class="badge text-bg-info text-dark">@item.OrderStatus</span></td>
                            }
                            else if (item.OrderStatus == OrderStatus.Shipped)
                            {
                                <td><span class="badge text-bg-secondary text-dark">@item.OrderStatus</span></td>
                            }
                            else if (item.OrderStatus == OrderStatus.Canceled)
                            {
                                <td><span class="badge text-bg-danger text-dark">@item.OrderStatus</span></td>
                            }
                            else if (item.OrderStatus == OrderStatus.Completed)
                            {
                                <td><span class="badge text-bg-success text-dark">@item.OrderStatus</span></td>
                            }

                            @if (item.TrackingNumber is null)
                            {
                                <td><span class="badge text-bg-danger text-dark">Not Shipped!</span></td>
                            }
                            else
                            {
                                <td><span class="badge text-bg-success text-dark">Shipped</span></td>

                            }

                            @if (item.OrderStatus != OrderStatus.Pending)
                            {
                                <td>
                                    <a href="/customer/Order/details?id=@item.Id" type="button" class="btn btn-info">Details</a>

                                    @if (item.TrackingNumber is null && item.TransactionStatus != TransactionStatus.Refunded)
                                    {
                                        <a href="/customer/Order/refund?id=@item.Id" type="button" class="btn btn-danger">Refund</a>
                                    }

                                </td>
                            }
                            else
                            {
                                <td>No Actions!!</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination" style="
                    display: flex;
                    justify-content: center;>
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.CurrentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (var i = 1; i <= @Model.TotalPages; i++)
                    {
                        <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                    }
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.CurrentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

