@model OrderWithItemsVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-12">
            <h2 class="display-6">Details Order @Model.Order.Id - @Model.Order.ApplicationUser.Name</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form>
                <div class="mb-3">
                    <label for="userName" class="form-label">User Name</label>
                    <input class="form-control" disabled value="@Model.Order.ApplicationUser.Name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Order Status</label>
                    @if (Model.Order.OrderStatus == OrderStatus.Pending)
                    {
                        <td><span class="badge text-bg-warning">@Model.Order.OrderStatus</span></td>
                    }
                    else if (Model.Order.OrderStatus == OrderStatus.InProcessing)
                    {
                        <td><span class="badge text-bg-info">@Model.Order.OrderStatus</span></td>
                    }
                    else if (Model.Order.OrderStatus == OrderStatus.Shipped)
                    {
                        <td><span class="badge text-bg-secondary">@Model.Order.OrderStatus</span></td>
                    }
                    else if (Model.Order.OrderStatus == OrderStatus.Canceled)
                    {
                        <td><span class="badge text-bg-danger">@Model.Order.OrderStatus</span></td>
                    }
                    else if (Model.Order.OrderStatus == OrderStatus.Completed)
                    {
                        <td><span class="badge text-bg-success">@Model.Order.OrderStatus</span></td>
                    }
                </div>
                <div class="mb-3">
                    <label for="TotalPrice" class="form-label">Total Price</label>
                    <input type="number" class="form-control" disabled value="@Model.Order.TotalPrice">
                </div>
                <div class="mb-3">
                    <label class="form-label">Transaction Status</label>
                    @if (Model.Order.TransactionStatus == TransactionStatus.Pending)
                    {
                        <td><span class="badge text-bg-warning">@Model.Order.TransactionStatus</span></td>
                    }
                    else if (Model.Order.TransactionStatus == TransactionStatus.Completed)
                    {
                        <td><span class="badge text-bg-success">@Model.Order.TransactionStatus</span></td>
                    }
                    else if (Model.Order.TransactionStatus == TransactionStatus.Canceled)
                    {
                        <td><span class="badge text-bg-danger">@Model.Order.TransactionStatus</span></td>
                    }
                </div>
                <div class="mb-3">
                    <label for="sessionId" class="form-label">session Id</label>
                    <input type="text" class="form-control" disabled value="@Model.Order.SessionId">
                </div>
                <div class="mb-3">
                    <label for="transactionId" class="form-label">transaction Id</label>
                    <input type="text" class="form-control" disabled value="@Model.Order.TransactionId">
                </div>
                <div class="mb-3">
                    <label class="form-label">Transaction Type</label>
                    <td><span class="badge text-bg-info">@Model.Order.TransactionType</span></td>
                </div>
                @if (Model.Order.TrackingNumber is not null)
                {
                    <div class="mb-3">
                        <label class="form-label">Carrier Id</label>
                        <input type="text" class="form-control" disabled value="@Model.Order.TrackingNumber">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Carrier Name</label>
                        <input type="text" class="form-control" disabled value="@Model.Order.CarrierName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Shipped Date</label>
                        <input type="datetime" class="form-control" disabled value="@Model.Order.ShippedDate">
                    </div>
                }
                else
                {
                    <div class="mb-3">
                        <label class="form-label">Shipped? </label>
                        <td><span class="badge text-bg-danger">Not Shipped!!</span></td>
                    </div>
                }
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Order Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Count</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <th scope="row">@item.OrderId</th>
                            <td>@item.Product.Name</td>
                            <td>@item.Count</td>
                            <td>@item.Price</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>